<%= render 'layouts/nav_bar' %>

<div id="all-p">
	<div id='left-p'>
		<%= render 'main/about_me' %>
		<%= render 'main/about_portlight' %>
	</div>

	<div id='right-p'>
		<%= render 'main/about_ofp' %>
		<%= render 'main/about_apn' %>
		<%= render 'main/about_veri' %>
	</div>
</div>